<h1>Dine with Friends</h1>
<h2>Welcome, <%= @user.name %></h2>
<form action="/post" method="POST" id="formsie">
	<span><label for="username">Username:</label>
	<input name="username" type="text" id="username" value="Your name" /></span><br />
	<span><label for="time">Time to wait:</label>
	<input name="time" id="time" type="text" value="in minutes" /><br /></span>
	<input type="submit" id="submit" name="submit" value="Submit!" />
</form>