body {
    margin-left: 20%;
    margin-top: 20%;
    font-family: sans-serif;
    color: #333;
}

h1 {
    color: orange;
    size: 2em;
}
label {
    width: 60px;
}

#formsie #time {
    color: #888;
    width: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

#formsie #submit {
    color: #000;
}

#footer-nav {
    list-style: none;
    font-size: .7em;
    margin-left: 0;
}

#footer-nav li {
    display: inline;
    margin-right: 1em;
    float: left;
}